*{
  margin: 0;
  padding: 0;
}


header{
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
}

.logo{
  height: 50px;
  width: 150px;
  margin-top: 7px;
  margin-left: 5px;
}

nav ul{
  margin-top: 10px;
  
  }

nav ul li{
  list-style: none;
  margin: 10px;
  display: inline-block;
  
} 

nav ul li a{
  text-decoration: none;
  padding: 20px;
  color: white;
  
  
}

.special{
  margin-left: 100px;
  }


nav ul li a:hover{
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 20px;
}

.menu-toggle{
      position: absolute;
      right: 100px;
      top: 10px;
      font-size: 40px;
      display: none;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 0px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 1px;
  margin-top: 20px;
}

/* Fake image, just for this example */
.fakeimg  img{
  width: 80%;
  height: 365px;
  border: 3px solid black;
}

/* Footer */
.footer {
  padding: 20px;
  color: white;
  text-align: center;
  background:black;
}












@media (max-width:1020px){
  header{
      padding: 0 20px;
  }

  .menu-toggle{
      display: block;
  }

  .logo{
      height: 50px;
      width: 150px;
      margin-top: 7px;
      margin-left: 5px;
  }

  nav{
      position: absolute;
      width: 100%;
      height: calc(100vh - 75px);
      background:rgb(88, 87, 87);
      top: 57px;
      left: -105%;
      transition: 0.5s;
      opacity: 0.9;
  }

  header nav.active{
      left: 0px;
  }

  nav ul{
      display: block;
      text-align: center;
  }

  nav ul li{
      padding: 20px;
      display: block;
  }

  nav ul li a{
      margin-left: 0;
      font-size: 20px;
      font-weight: 900;
      padding: 0 30px;
  }

  .special{
      margin-left: 0px;
      }

  nav ul li a:hover{
      background-color: white;
      color: black;

  }

  .row {   
    flex-direction: column;
  }
}
